## API
BASEURL=
SEMTOKEN=
PROJECTID=
COMPANY=
COMPANYMF=
SEARCHSTRING=
TEMPLATENUMBERS=

## FTP
FTPHOST=
FTPUSER=
FTPPASS=
EDROOTLOC=
ACUROOTLOC=

## LOCAL
EDLOCALLOC=
ACULOCALLOC=

## S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWSREGION=
S3BUCKET=
EDS3PREFIX=
ACUS3PREFIX=

## ED
EDVERSION=
EDPU=
WINBUILD=
LINUXBUILD=

### TEST BUILD
WINTESTDESC=
LINUXTESTDESC=
WINTESTTEMPLATES=
LINUXTESTTEMPLATES=

## ACU
ACUMAJORVERSION=
# ACUMAJORVERSION=
ACUPU=
### 11.0
CODE86=
KEY86=
CODE64=
KEY64=
CODE=
KEY=
### 10.5.1
# CODE86=
# KEY86=
# CODE64=
# KEY64=
# CODE=
# KEY=