## API
BASEURL=
SEMUSER=
SEMPWD=
PROJECTID=
COMPANY=
COMPANYMF=
TEMPLATENUMBERS=

## ED
EDVERSION=
EDPU=
VSVERSION=
WINBUILD=
LINUXBUILD=

## ACU
ACUMAJORVERSION=
# ACUMAJORVERSION=
ACUPU=
### 11.0
CODE86=
KEY86=
CODE64=
KEY64=
CODE=
KEY=
### 10.5.1
# CODE86=
# KEY86=
# CODE64=
# KEY64=
# CODE=
# KEY=